
.leftMenu {
    width: 280px;
    height: 100vh;
    border-right: 1px dashed rgb(233, 236, 238);
    position: relative;
}

.leftMenuMinimize {
    position: relative;
    width: 95px;
    height: 100vh;
    border-right: 1px dashed rgb(233, 236, 238);
}
.triangle {
    width: 14px;
    height: 14px;
    position: absolute;
    border-bottom-left-radius: 3.5px;
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    border: 1px solid rgba(145, 158, 171, 0.12);
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.8);
    top: -6.5px;
    transform: rotate(135deg);
    right: 20px;
}
.triangleRight {
    width: 14px;
    height: 14px;
    position: absolute;
    border-bottom-left-radius: 3.5px;
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    border: 1px solid rgba(145, 158, 171, 0.12);
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.8);
    top: 10px;
    transform: rotate(230deg);
    right: -10px;
}
.mBg {
    background-image: url('../assets/img/blur.png');
    background-repeat: no-repeat, no-repeat;
    background-position: right top, left bottom;
    background-size: 50%, 50%;
    transition: opacity 297ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 198ms cubic-bezier(0.4, 0, 0.2, 1) 0;

    transform-origin: 200px 0 0;
}
.react-tabs__tab--selected{
    border-bottom: 3px solid #000 !important;
    border-top: none !important;
    border-right:none !important;
    border-left: none !important;
    border-radius: 5px;
    color: #000 !important;
    font-weight: 600 !important;
}

.react-tabs__tab:focus-visible{
    border:none !important;
}
input[type=checkbox] {
    accent-color: #00a76f;
    height: 16px;
    width: 16px;
  }

  .largeCheckBox{
    width:20px !important;
    height: 20px !important;
  }
  /* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
